body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-height: 75px;
  background-color: #ff6f00;
  display: flex;
  justify-content: center;
  align-self: center;
}

ul li {
  margin: 0;
  padding: 0;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
}

.section-about {
    padding: 50px 250px;
}

.container-card {
    padding-bottom: 0px;
}

.container-card h1{
    background-color: #ff6f00;
    border-radius:  10px 10px 0 0;
    padding: 10px 10px;
    width: 100%;
    margin: 0;
}

.container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 0px 50px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #ff6f00;
}

.about-content p {
    text-align: justify;
    padding: 10px;
}