<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Sem Nome</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="index.html">TimeLine</a></li>
            <li><a href="perfil.html">Perfil</a></li>
            <li><a href="about.html">Sobre</a></li>
        </ul>
    </nav>
    <main>
        <section class="section-about">
            <div class="container-card" style="padding-bottom: 0px;">
                <h1>Sobre o Projeto</h1>
                <div class="about-content">
                    <p>Este projeto é um exemplo de aplicação CRUD (Create, Read, Update, Delete) utilizando JavaScript, HTML e CSS. Ele foi desenvolvido para demonstrar as funcionalidades básicas de um sistema de gerenciamento de posts, onde os usuários podem criar, visualizar, editar e excluir suas postagens.</p>
                    <p>O objetivo deste projeto é fornecer uma base sólida para aqueles que estão aprendendo a desenvolver aplicações web e desejam entender como implementar operações CRUD de forma eficiente. Ele pode ser expandido com recursos adicionais, como autenticação de usuários, comentários e muito mais.</p>  
                </div>
            </div>
        </section>
</body>
</html>